* {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
html {
    scroll-behavior: smooth;
}
#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 10;
}
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9;
}
#navigation {
    width: 70vh;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
header a {
    text-decoration: none;
    color: rgba(160,77,70,1);
    font-family: "Arial Black",sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
header a:hover {
    background-color: rgba(241,191,152,0.5);
}
header .nav {
    width: 25%;
    text-align: center;
}
#section1 {
    height: 100vh;
    width: 100%;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    font-size: 25px;
}
#section1 span {
    font-size: 30px;
}
#section1\.1 {
    padding: 20px;
    border-radius: 5px;
    color: #783121;
    background-color: rgba(255,255,255,0.6);
}
#section2 {
    background-image: url("../images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#primary, #high, #college {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 20%;
    background-color: white;
    border-radius: 15px;
    opacity: 0.7;
}
#primary div, #high div, #college div {
    text-align: center;
    color: #783121;
    font-size: 20px;
}
#primary:hover, #high:hover, #college:hover {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 1px;
}
#section2 a {
    text-decoration: none;
}
#section2 img {
    width: 90%;
    border-radius: 15px;
}
#section3 {
    background-image: url("../images/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
li {
    list-style: none;
    padding-top: 18px;
    color: white;
    font-size: 30px;
}
li i {
    padding-right: 20px;
}
#copyright {
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
}